[submodule "zz-packages/kmod-fb-tft-gc9307"]
	path = zz-packages/kmod-fb-tft-gc9307
	url = https://github.com/mdsdtech/kmod-fb-tft-gc9307.git
	branch = custom
[submodule "zz-packages/xgp-v3-screen"]
	path = zz-packages/xgp-v3-screen
	url = https://github.com/mdsdtech/xgp-v3-screen.git
	branch = custom
